@import 'variables';

// GLOBAL THEME SETTINGS ATTEMPT

.cds--text-input:focus,
.cds--text-input:active,
.cds--select-input:focus,
.cds--tabs .cds--tabs__nav-link:focus,
.cds--tabs .cds--tabs__nav-link:active,
.cds--tabs .cds--tabs__nav-item--selected,
.cds--btn {
  $clr-focus: $color-primary;

  --cds-focus: #{$clr-focus} !important;
  --cds-button-focus-color: #{$clr-focus} !important;
  --cds-border-strong: #{$clr-focus} !important;
  --cds-border-interactive: #{$clr-focus} !important;
}

// BODY DEFAULTS
// --------------------------------------------------

html,
body,
#__next {
  height: 100%;
}

main {
  background-color: $bg;
}

// INPUT AND SELECT
.cds--text-input,
.cds--select-input {
  background-color: transparent;
}

// BUTTON
// --------------------------------------------------

.cds--btn {
  // Primary
  --cds-button-primary: #{$color-primary};
  --cds-button-primary-hover: #{$color-primary-dark};
  --cds-button-primary-active: #{$color-primary-dark};
  --cds-button-primary-focus: #{$color-primary-dark};
  // Secondary
  --cds-button-secondary: #{$color-secondary};
  --cds-button-secondary-hover: #{$color-secondary-dark};
  --cds-button-secondary-active: #{$color-secondary-dark};
  --cds-button-secondary-focus: #{$color-secondary-dark};
  // Tertiary
  --cds-button-tertiary: #{$color-primary};
  --cds-button-tertiary-hover: #{$color-primary-dark};
  --cds-button-tertiary-active: #{$color-primary-dark};
  --cds-button-tertiary-focus: #{$color-primary-dark};

  border-radius: $border-radius-small;
}