// Not using some directives, e.g. -> @use '@carbon/colors';
// I find the carbon docs cumbersome to navigate and apply quickly for the purpose of this demo
// Hence I reverted my stance to old-school scss (picking this up from memory from 2016+-)

/* THEME SETUP */
$color-primary: #54bec5;
$color-secondary: #c083d6;

/* TYPOGRAPHY */
$text-color-primary: #373937;
$text-color-highlighted: $color-primary;
$text-color-highlighted-alt: $color-secondary;
$text-color-disbled: #616161;
$text-color-darkbg: #fff;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-size-base: 1rem;

/* UI STYLES */
$transition-duration-default: 0.2s;
$transition-duration-slow: 0.35s;
$transition-duration-turbo: 0.15s; // Lol, I couldn't resist, love the word "turbo"

// https://carbondesignsystem.com/guidelines/motion/overview/#carbon-in-motion

// Productive motion is appropriate for moments when the user needs to focus on completing tasks.
$transition-expressive: motion(standard, expressive);

// Expressive motion delivers enthusiastic, vibrant, and highly visible movement.
$transition-productive: motion(standard, productive);
$border-radius-default: 0.75em;
$box-shadow-default: 0 0.25em 0.5em rgb(0 0 0 / 15%);

/* COMPONENTS */
