@use '@carbon/layout';
@import 'src/styles/variables';

.ContainerGrid {
  $gap: layout.$spacing-06;

  max-width: $max-container-size;
  display: flex;
  flex-direction: column;
  gap: $gap;
  padding-top: $gap;
  padding-bottom: $gap * 2;
}