@use '@carbon/grid';
@use '@carbon/layout';
@use 'node_modules/@carbon/themes/scss/generated/_themes.scss';
@use '@carbon/type';
@import 'src/styles/variables';

.PokemonFilter {
  display: flex;
  flex-direction: column;
  padding: $padding-default;
  padding-top: $padding-dense;
  border-radius: $border-radius-default;
  box-shadow: $box-shadow-default;
  position: sticky;
  top: 0;
  z-index: 5;
  backdrop-filter: blur(12px) saturate(140%);

  background-color: #{rgba(map-get(themes.$g10, layer-01), 0.85)};

  [data-dark-mode="true"] & {
    background-color: #{rgba(map-get(themes.$g100, layer-01), 0.9)};
  }
}

.Title {
  @include type.type-style('heading-03');
}

.Form {
  display: flex;
  gap: layout.$spacing-04;
  flex-direction: column;

  @include grid.breakpoint-up('md', $breakpoints: grid.$grid-breakpoints) {
    flex-direction: row;
  }
}

.ButtonGroup span:first-of-type .Button {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.ButtonGroup span:last-of-type .Button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

// Inputs
.Input {
  &.search {
    flex: 2 0 auto;
  }

  &.type {
    flex: 1 0 auto;
  }

  &.view,
  &.reset {
    flex: 0 0 auto;
  }
}

.cds--label+.cds--tooltip {
  inset-block-start: 0 !important;
  inset-inline-start: 0 !important;
}