@use '@carbon/layout';
@use '@carbon/type';
@import 'src/styles/variables';

.Title {
  display: flex;
  align-items: center;

  strong {
    @include type.type-style('heading-04');
  }
}

.Button {
  padding-left: layout.$spacing-04;
  padding-right: layout.$spacing-08;
  margin-left: auto;
  margin-right: 0;
}

.PokemonContainer {
  display: flex;
  flex-direction: column;
  padding: $padding-default;
  border-radius: $border-radius-default;
  background-color: $content-bg;
  box-shadow: $box-shadow-default;
}