@use '@carbon/layout';
@import 'src/styles/variables';

.PokemonContainer {
  display: flex;
  flex-direction: column;
  padding: $padding-default;
  border-radius: $border-radius-default;
  background-color: $content-bg;
  box-shadow: $box-shadow-default;
}

.PokemonTable {
  font-size: $font-size-base;
  color: $text-color-primary;
  margin-top: layout.$spacing-03;
  width: 100%;
  border-spacing: 0;
  margin-bottom: 20px;

  thead {
    background-color: $color-secondary;
    font-weight: $font-weight-semibold;

    tr {
      th {
        padding: 8px;
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f2f2f2;
      }

      &:hover {
        background-color: rgba($color-primary, 0.25);
      }

      td {
        padding: 8px;
        text-align: left;
      }
    }
  }
}