@use '@carbon/grid';
@use '@carbon/layout';
@use '@carbon/type';
@use '@carbon/colors';
@import 'src/styles/variables';

.Title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: layout.$spacing-04;

  strong {
    @include type.type-style('heading-04');
  }

  @include grid.breakpoint-up('md', $breakpoints: grid.$grid-breakpoints) {
    flex-direction: row;
  }
}

.Button {
  @include grid.breakpoint-up('md', $breakpoints: grid.$grid-breakpoints) {
    padding-left: layout.$spacing-04;
    padding-right: layout.$spacing-08;
    margin-left: auto;
    margin-right: 0;
  }
}

.PokemonContainer {
  display: flex;
  flex-direction: column;
  padding: $padding-default;
  border-radius: $border-radius-default;
  background-color: $content-bg;
  box-shadow: $box-shadow-default;
}

.NoResults {
  @include type.type-style('heading-compact-01');

  margin: layout.$spacing-08 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: $color-secondary;
}
